*{
  padding: 0;
  margin: 0;
}
#toggle
{
  color: #fff;
  display: none;
  font-size: 20px;
  text-align: center;
}

/* menu */
@media(max-width: 768px)
{
  .menu
  {
      display: none;
  }
  #toggle
  {
      display: block;
      order: 2;
  }
  .ul{
      order: 1;
  }
  .menu2
  {
      display: none;
  }
  #toggle1
  {
      display: block;
      
  }.img2
  {
      
  }.ulb1
  {
      flex-wrap: wrap;
  }.abc
  {
    flex-wrap: wrap;
    justify-content: center;
  }.vol6
  {
    flex-wrap: wrap-reverse;
  }
  .bann9
  {
    flex-wrap: wrap;
  }.bann10
  {
    flex-wrap: wrap;
  }.all1
  {
    flex-wrap: wrap;
    
  }.row6:hover.row6
  {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.navbar1
{
  background: #000;
  height: 30px;
}
.head1
{
  display: flex;  
  justify-content: space-between;   
  padding-top: 5px;
  font-size: 14px;
}
.hd
{
  padding: 0;
}
.ul
{
  padding: 0;
}
.ul1 li
{
  display: flex;
  float: left;      
  padding-left: 25px; 
  
}
.ul1 li a
{
  color: #999;
  text-decoration: none;
}
.ul li a{
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  color: #999;
}
.ul1 li a:hover
{
  color: orange;
}
.ul li a:hover
{
  color: orange;
}

input
{
  border: 1px;
    padding: 10px;
}
/* headder2 */
.ul2{
display: flex;
list-style: none;
padding: 0;
}
.item2-logo
{
  list-style: none;
} 
.head2
{
  display: flex;
  justify-content: space-between;
  padding-top:  20px;
}
.ulitem2
{  
list-style: none;
display: flex;
font-size: 20px;
}
.ulitem2 i
{
  padding-right: 20px;
  color: rgba(0, 0, 0,0.2);
}
.item2
{
  padding-left: 20px;
}
.item2 a
{
  text-decoration: none;
  color: #000;
}
.item2 a i
{
  padding-right: 20px;
}
.head22
{  
  padding-bottom: 20px;  
}
.ul22
{
  display: flex;
  padding:0px;
  list-style: none;
}
.ul22 li a
{  
  display: block;
  list-style: none;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.ul22 li
{
  border-top: 1px solid black;
  padding-top: 20px;
  padding-left:15px;
}
.ul22 li i
{
  padding-left: 10px;
}
.ul222 a
{
  padding-right: 0px;
  margin-left: 388px;
}
.ul222 a i
{
  padding-right: 10px;
}
.ul22 li:hover
{
  border-top: 1px solid  orange;
}
.ul222 i
{
  color: #cc9966;
}
#toggle1
{
  color: pink;
  background: #000;
  display: none;
  font-size: 20px; 
}
/* navar3 */
.top-header
{
  display: block;
  background-image: url(../img/banner_bg.webp);
  background-size:cover;
  background-repeat: no-repeat;
  height: 500px;
  max-width: 100%;   
}
.item3-head3
{
  display: block;
  text-align: center;
  padding-top: 8%;
  font-size: 20px;
  color: #fff;
}
.item3 
{
  display: inline-block;
  background: #cc9966;
  padding: 4px 10px;
  border-radius: 100px;
}
.item4 
{
  display: inline-block;
  background: rgba(255, 255, 255,0);
  border: 1px solid #cc9966;
  padding: 3px 3px;
  border-radius: 100%;
}.iteem
{
  color: aliceblue;
  padding-top: 2%;   
  padding-left: 1%;
}
.item3-head3 p a
{  
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 13px 20px;
  background: #cc9966;
  font-size: 15px;
}
.item3-head3 h1
{
  padding-bottom: 2%;
}.item3-head3 p a:hover
{
  background: rgba(255, 0, 0,0.5);
} 
/* banner1 */
.ulb1
{   
  display: flex;
  padding: 0px;
  justify-content: space-around;
  list-style: none;
  margin-top: 20px;

}
.row i
{
font-size: 30px;
padding: 10px;
}
.ulb1 li
{
  display: flex;
  float: left;
  font-size: 20px;
  list-style: none;
}

.row .ulb1 li a
{
  text-decoration: none;
}
.ulb1 li a
{
  text-decoration: none;
  color:#3a3738;
  font-size: 20px;
}
.ulb1 li p
{
  color: #afafaf;
  font-size: 15px;
}

/* banner3 */
.row2 a img
{
  width: 98%;  
  
}
.imgg{
  justify-content: space-between;
}
.b2
{  
  display: block;
  color: #000;
  text-align: center;
  font-weight: bold;  
  position: absolute;
  top: 30%;
  left: 35%;
  color: aliceblue;
}
.row2 a:hover .boder
{
  opacity: 1;
}
.boder
{
  position: absolute;
  padding: 70px 150px;
  border-style: dashed;
  color: #000;  
  opacity: 0;
  top: 28%;
  left: 26%;
  color: #fff;
}
.img2{
  display: flex;
  margin-bottom: 20px;
  padding: 0px;
}
.row2
{
  position: relative;
}
.bn2{
  font-size: 25px;
  font-weight: bold;  
  color: #fff;
}
/* banner3 */
.bann3 a img
{
  width: 98%;
}
.row3
{
    position: relative;       
}
.row3 a .b3
{
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    font-size: 15px;
    color: #fff;
    transition: all 0.2s ease-in-out; 
}
.colorb3
{
    color: #000;
}
.b3 h1
{
    font-size: 20px ;
}
.bann3
{
    display: flex;
    margin-bottom: 20px;
    padding: 0px;
}

.row3 a .name
{ 
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);  
    opacity:0 ;
    transition: all 0.2s ease-in-out;
    color: floralwhite;  
    border-bottom: 2px solid #fff;  
}
.row3 a:hover .name{ 
    top: 60%;
    opacity: 1;
    padding-bottom: 25px;
}
.row3 a:hover .b3{
    bottom: 40%;
}
.abc
{
  display: flex;
  padding: 0px;
}
/* banner4 */
.row4
{
    text-align: center;
    border: 1px solid black;
    padding: 70px;
}
.row4 .fa-envelope
{
    font-size: 40px;
}
.row4 h1
{
    font-size: 27px;
}
.row4 input
{
background: rgba(204, 204, 204,0.5);
border-style: none;
width: 400px;
height: 50px;
padding-left: 20px;
}
.row4 a
{
    border: 1px solid rgba(204, 153, 102,0.5);
    padding: 13px 20px;
    background: #cc9966;
    text-decoration: none;
    color: #fff;
}
.row4 i
{
    font-size: 15px;
    padding-left: 8px;
}
/* banner5 */
.ulb5
{
    display: flex;   
    list-style: none;   
    padding: 0px;
    margin-top: 30px;
    font-size: 15px;
    padding: 0px;
    justify-content: space-between;
}
.ulb5 li h1
{
    
    font-size: 30px;
    margin-bottom: 10px;
}
.ulb5
{
    border-bottom: 1px solid rgba(0, 0, 0,0.2); 
    
}
/* banner6 */

.vol6
{
    display: flex;
    padding: 0px;
}
.row6
{
    
    text-align: center;
}
.row6 .b6 a
{
    text-decoration: none;
    color: #000;
}
.b6
{
    margin-top: 10px;
}
.b6 i
{
    color: yellow;
    font-size: 12px;
    padding: 2px;
}
.item6
{
    display: inline-block;
    background: #c00b1b;
    border: 2px solid #e6e6e6;
    padding: 8px 8px;
    border-radius: 100%;
   
}
.bb6
{
  margin-left: 110px;
}
.bb7
{
  margin-left: 70px;
}
.item61
{
    display: inline-block;
    background:#333333;
    border: 2px solid #fff;
    padding: 8px 8px;
    border-radius: 100%;
}
.item64
{ 
    display: inline-block;
    background:#333333;  
    color: #fff;
    padding: 5px 8px;
    font-size: 10px;
}
.banner6
{
    margin-bottom: 20px;
}
.row6 a img
{ 
    justify-content: center;
    width: 95%;
}
.r6 li i
{  
    color: #000;
    font-size: 20px; 
}
/* BANNER8 */
.banner8
{
    text-align: center;
    padding-left: 30px;
    margin-top: 50px;
}
.ulb8
{
  padding: 0px;
}
.row8 a p
{
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0,0.5);
    text-decoration: none;
    color: #000;
}
.row8 a p:hover
{
    background: #cc9966;
}
.ulb8 li h1
{
    font-size: 25px;
    margin-bottom: 20px;
}
.row81 ul
{
    list-style: none;
}
.ulb8 li
{
    border-bottom: 1px solid rgba(0, 0, 0,0.1);
}
/* banner9 */
.row9
{
    display: flex;
}
.bann9
{
    display: flex;
    
}
.b9 p
{
    font-size: 14px;
    padding-right: 10px;
    color: #777777;
}
.row9 img
{
    width: 100px;
    padding-right: 10px;
    padding-top: 10px;
}
.b9 i
{
    color:#cc9966;
    font-size: 10px;
    padding: 2px;  
}
/* banner10 */
.row10 img
{
    margin-top: 10px;
    width: 95%; 
}
.itemb10
{
   margin-top: 10px;
   line-height: 1px;
}
.bann10
{
    padding: 0px;
    display: flex;
    font-size: 15px;    
}
.row10 a
{
    text-decoration: none;
    color: #000;
}
.banner10
{
    margin-bottom: 50px;
}
/* banner11 */
.bg10
{
    background: #222222;
    color: #e6e6e6;
    height: 300px;
}
.ft1 ul p
{   
    color: #cc9966;
}
.all1
{
    padding: 0px;
    display: flex;  
    margin-top: 50px;
}
.all1 img
{
    padding-bottom: 20px;
}
.ulft1 li
{
    list-style: none;
}
.ulft1
{
    margin-top: 20px;
}
.ftitem1
{
    font-size: 14px;
}
.ft1 li
{
    display: flex;
    float: left;
}
.ft11
{
    padding-right: 30px;
}
.ulf1 li
{
    float: left;
    
}
.ulf1 img
{
    padding-right: 5px;
}
.ulf1
{
    padding-top: 40px;
    list-style: none;
    padding-left: 0
   
}
.ulf1 li a
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.ft12
{
    padding-right: 80px;
}
.col-6 
{
    border-bottom: 1px solid rgba(255, 255, 255,0.2); 
}
.ulft1
{
    margin: 0;
}
.end1 li
{
  float: left;
  list-style: none;
  padding-right: 20px;
  
}
.end1 li a
{
    Margin-right: 512px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.eitem1
{
    color: blue;
}
.eitem2
{
    color: #79c8ed;
}
.eitem3
{
    color: #d34332;
}
.eitem4
{
    color: #a55481;
}
.eitem5
{
    color: #e66262;
}
.ft1{
    padding-left: 0
}
.all1
{
    color: #677072;
}
.ulft1 b
{
    color: #fff;
    margin-bottom: 20px;
}
.f11
{
    padding-bottom: 15px
}
.end1
{
    color: #677072;
    padding: 0px;
}
.end1 li a
{
    color: #677072;
    border-bottom: 1px solid #9a9a9a;
}
.bg2
{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}
.row6
{
  position: relative;
}
.row6 ul
{
  position: absolute;
  top: 10px;
  right: 20px;
  list-style: none;
}
.iitem i
{
  font-size: 20px;
  display: inline-block;
  border-radius: 100%; 
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 4px 4px;
  color: red;
  opacity: 0;
}
.bann6:hover .iitem i
{
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.iitem li
{
  padding-bottom: 7px;
}
.row6 a p
{ 
  background: #fff;  
  padding: 10px 85px;
  position: absolute;
  margin: 0;
  opacity: 0;
}
.row6:hover.row6 a p
{
  transition: all 0.5s ease-in-out;
  bottom: 10%;
  opacity: 1;
}
.topimg
{

 position: absolute;
 top: 10%;
 right: 0%;
}
.row6 img
{
  width: 100%;
  transition: all 1s linear;
}
.row6 a .topimg
{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.row6:hover img
{
  opacity: 1;
}
.row6 a img:hover img .topimg
{
  opacity: 1;
}
.bann6 .row6 img
{
  display:block;
}








